body{
    background-color: white;
}
header{
    background-color:rgb(148, 114, 74);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;

}
.logo{
    width: 100px;
    border-radius: 50%;
    border-color: black;
    border: 2px solid;
}